.card-body-form {

    background: #fff;
    border-radius: 10px 10px 10px 10px;
    width: 60%;
}



.display-grid {
    display: grid;
}

.centered-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
}

.form-card {
    display: grid;
    gap: 20px;
    padding: 20px
}

.div-form {
    grid-column: 1;
    display: inherit;
}

.titleForm{
    margin-top: 3%;
}

.btnColorYellow {
    background-color: #ffcc00; 
    color: #333;

}

.btnForm {
    width: 100px;
    height: 50px;
    font-weight: bold;
}

.btnForm:hover {
    cursor: pointer;
}